.about-section {
    @include mobile {
        margin-top: -1px;
    }

    position: relative;
    background-color: #000;

    &::after {
        @include mobile {
            bottom: -63px;
            border-top: 64px solid #000;
            border-right: 64px solid transparent;
        }

        content: "";
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 0;
        height: 0;
        border-top: 101px solid #000;
        border-right: 101px solid transparent;
    }

    &__slider {
        @include mobile {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        position: relative;
        overflow: hidden;
        padding-top: 44px;
        padding-bottom: 85px;

        & .btns-block {
            @include mobile {
                top: 20%;
                right: 40%;
            }

            position: absolute;
            top: 7%;
            right: 0;
            z-index: 10;
            display: flex;

            & .thumb-btn {
                @include mobile {
                    width: 39px;
                    height: 39px;
                }

                margin: 0 15px;
                width: 62px;
                height: 62px;
                border-radius: 50%;
                background-color: #C50908;

                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease-in-out;

                & svg {
                    @include mobile {
                        width: 11px;
                        height: 16px;
                        stroke-width: 3px;
                    }

                    width: 14px;
                    height: 26px;
                    fill: none;
                    stroke: #000;
                    stroke-width: 4px;
                    stroke-linecap: round;
                    transition: color 0.3s ease-in-out;
                }

                &:hover {

                    background-color: #ff0000;

                    & svg {
                        stroke: #fff;
                    }
                }

                &:active {
                    background-color: #ff0000;

                    & svg {
                        stroke: #fff;
                    }
                }
            }
        }

        & .swiper-wrapper {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }

    & .slide {

        &__title {
            @include mobile {
                margin: 0 auto;
                margin-bottom: 51px;
                max-width: 318px;
                font-size: 25px;
                line-height: 38px;
                text-align: center;
            }

            margin: 0;
            font-weight: 600;
            font-size: 36px;
            line-height: 65px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 44px;
        }

        &__content {
            @include mobile {
                flex-flow: wrap;
            }

            display: flex;
            justify-content: space-between;
        }

        &__btn-details {
            @include mobile {
                display: block;
                margin-top: 18px;
                width: 100%;

            }

            display: none;
            height: 43px;
            background: #C50908;
            border: 1px solid #C50908;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;

            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
            transition: bacground-color 0.3s ease-in-out, color 0.3s ease-in-out;

            @include hover {
                background-color: #c9772a;
                color: #242424;
            }
    
            &:active {
                background-color: #c9772a;
                color: #242424;
            }
        }
    }

    & .info {
        @include mobile {
            order: 0;

            max-width: 257px;
            margin: 0 auto;
        }

        max-width: 430px;
        margin-left: 30px;

        &__title {
            @include mobile {
                text-align: center;
                font-size: 18px;
            }

            margin: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
            margin-bottom: 18px;
        }

        &__descr {
            @include mobile {
                display: none;
            }

            margin: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
        }
    }

    & .video-block {
        @include mobile {
            order: 1;
        }

        &::before {
            background: linear-gradient(262.21deg, rgba(215, 19, 19, 0.2) 12.92%, rgba(215, 19, 19, 0) 87.15%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), ;
        }
    }
}

.video-block {
    width: 100%;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_played {
        &::before {
            opacity: 0;
            visibility: hidden;
        }
    }

}

.btn-play {

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    & svg {
        @include mobile {
            width: 20px;
            height: 26px;
        }

        fill: #fff;
        width: 39px;
        height: 49px;
    }

    &_played {
        opacity: 0;
        visibility: hidden;
    }

}