.application-section {
    @include mobile {
        padding-top: 9px;
    }

    position: relative;
    background-color: #000;
    padding-top: 44px;
    padding-bottom: 22px;

    &::after {
        @include mobile {
            bottom: -63px;
            border-top: 64px solid #000;
            border-right: 64px solid transparent;
        }

        content: "";
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 0;
        height: 0;
        border-top: 101px solid #000;
        border-right: 101px solid transparent;
    }

    &__title {

        @include mobile {
            text-align: center;
            font-size: 25px;
            margin: 0;
        }

        margin: 0;
        margin-bottom: 7px;
        font-weight: 500;
        font-size: 36px;
        line-height: 65px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__descr {
        @include mobile {
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            max-width: 257px;
        }

        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    &__slider {
        position: relative;
        overflow: hidden;
        padding-top: 112px;

        & .btns-block {
            @include mobile {
                top: 5%;
            }

            position: absolute;
            width: 100%;
            right: 0;
            top: 2%;
            z-index: 10;
            display: flex;
            justify-content: space-between;

            & .thumb-btn {
                @include mobile {
                    width: 44px;
                    height: 44px;
                }

                width: 62px;
                height: 62px;
                border-radius: 50%;
                background-color: #fff;

                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease-in-out;

                & svg {
                    @include mobile {
                        width: 11px;
                        height: 16px;
                    }

                    width: 14px;
                    height: 26px;
                    fill: none;
                    stroke: #000;
                    stroke-width: 4px;
                    stroke-linecap: round;
                    transition: color 0.3s ease-in-out;
                }

                &:hover {

                    background-color: #ff0000;

                    & svg {
                        stroke: #fff;
                    }
                }

                &:active {
                    background-color: #ff0000;

                    & svg {
                        stroke: #fff;
                    }
                }
            }
        }

    }

    & .swiper-wrapper {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    & .swiper-slide {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.applications-item {
    @include mobile {
        margin-bottom: 0;
    }

    max-width: 297px;
    min-height: 412px;
    margin-bottom: 62px;

    & .video-block {
        height: 297px;

        &::before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31))
        }
    }

    &__title {
        @include mobile {
            text-align: center;
            line-height: 56px;
        }

        margin: 0;
        margin-top: 3px;
        font-weight: 500;
        font-size: 22px;
        line-height: 45px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__descr {
        @include mobile {
            margin: 0 auto;
            max-width: 288px;
            text-align: center;
            font-size: 16px;
        }

        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;

        color: #CFCFCF;
    }
}