.hero {
    background-color: #000;
    padding-top: 60px;


    &__slider {
        position: relative;
        overflow: hidden;

        & .btns-block {
            position: absolute;
            bottom: 25%;
            z-index: 10;
            width: 100%;
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
        }

        & .thumb-btn {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background-color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease-in-out;

            & svg {
                width: 14px;
                height: 26px;
                fill: none;
                stroke: #AB2222;
                stroke-width: 4px;
                stroke-linecap: round;
                transition: color 0.3s ease-in-out;
            }

            @include hover {
                background-color: #ff0000;

                & svg {
                    stroke: #fff;
                }
            }

            &:active {
                background-color: #ff0000;

                & svg {
                    stroke: #fff;
                }
            }
        }
    }

    & .slide {
        min-height: 560px;
        padding: 0 40px;
        padding-top: 80px;
        padding-bottom: 65px;
        background-image: linear-gradient(260.06deg, rgba(215, 19, 19, 0.45) 4.7%, rgba(215, 19, 19, 0) 57.46%),
            linear-gradient(96.65deg, rgba(0, 0, 0, 0.65) 30.57%, rgba(0, 0, 0, 0) 83.16%),
            url(../../img/hero-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left -1px center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 10px;

        &__content {
            grid-column: span 5;
        }

        &__title {
            margin: 0;
            margin-bottom: 135px;
            max-width: 240px;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            color: #fff;
        }

        &__btns {
            display: flex;
            align-items: center;
        }

        &__btn-more {
            height: 41px;
            padding-left: 52px;
            padding-right: 80px;
            border: 1px solid #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

            @include hover {
                background-color: #fff;
                color: #292929;
            }

            &:active {
                background-color: #fff;
                color: #292929;
            }
        }

        & .btn-trapezium {
            position: relative;
            z-index: 1;
            height: 41px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -16%;
                z-index: -1;
                height: 41px;
                width: 50%;
                transform: skew(-45deg);
            }
        }

        &__btn-catalog {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;

        }

        & .btn-trapezium {

            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

            &_size {
                padding-right: 18px;
            }

            &_color {
                background-color: #fff;
                color: #292929;

                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

                @include hover {
                    background-color: #000;
                    color: #fff;

                    &::before {
                        margin-left: 2%;
                        background-color: #000;
                    }
                }

                &:active {
                    background-color: #000;
                    color: #fff;
                }

            }

            &::before {
                margin-left: 2%;
                background-color: #fff;
                transition: background-color 0.3s ease-in-out;
            }
        }
    }
}

.swiper-wrapper {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.place {
    display: flex;
    align-items: center;

    padding-bottom: 45px;

    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #BBBBBB;

        &:first-child::before {
            display: inline-block;
            margin-right: 15px;
            content: "";
            width: 5px;
            height: 5px;
            background-color: #fff;
            margin-bottom: 2px;
        }

        &:not(:last-child)::after {
            margin: 0 3px;
            content: ">";
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: #BBBBBB;
        }
    }
}