.hero {
    @include mobile {
        margin-top: -1px;
        padding-top: 0;
    }

    background-color: #000;
    padding-top: 60px;


    &__slider {
        position: relative;
        overflow: hidden;

        & .btns-block {
            @include mobile {
                padding: 0 19px;
                bottom: 37%;
            }

            position: absolute;
            bottom: 30%;
            z-index: 10;
            width: 100%;
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
        }

        & .thumb-btn {
            @include mobile {
                width: 39px;
                height: 39px;
            }

            width: 62px;
            height: 62px;
            border-radius: 50%;
            background-color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease-in-out;

            & svg {
                @include mobile {
                    width: 11px;
                    height: 16px;
                    stroke-width: 3px;
                }

                width: 14px;
                height: 26px;
                fill: none;
                stroke: #AB2222;
                stroke-width: 4px;
                stroke-linecap: round;
                transition: color 0.3s ease-in-out;
            }

            @include hover {
                background-color: #ff0000;

                & svg {
                    stroke: #fff;
                }
            }

            &:active {
                background-color: #ff0000;

                & svg {
                    stroke: #fff;
                }
            }
        }
    }

    & .slide {
        @include mobile {
            background-position: center;
            display: flex;
            flex-direction: column;
            padding: 0 19px;
            padding-top: 21px;
            padding-bottom: 25px;
            min-height: 183px;

        }

        min-height: 560px;
        padding: 0 40px;
        padding-top: 80px;
        padding-bottom: 65px;
        background-image: linear-gradient(260.06deg, rgba(215, 19, 19, 0.45) 4.7%, rgba(215, 19, 19, 0) 57.46%),
        linear-gradient(96.65deg, rgba(0, 0, 0, 0.65) 30.57%, rgba(0, 0, 0, 0) 83.16%),
        url(../../img/hero-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left -1px center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 10px;

        &__content {
            grid-column: span 5;
        }

        &__title {
            @include mobile {
                margin: 0 auto;
                margin-bottom: 113px;
                max-width: 250px;
                font-size: 25px;
                line-height: 38px;
                text-align: center;
            }

            margin: 0;
            margin-bottom: 150px;
            max-width: 240px;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            color: #fff;
        }

        &__btns {
            @include mobile {
                height: 43px;
            }

            display: flex;
            align-items: center;
            height: 41px;
        }

        &__btn-more {
            @include mobile {
                padding-left: 38px;
                padding-right: 63px;
                font-size: 14px;
            }

            height: inherit;
            padding-left: 52px;
            padding-right: 80px;
            border: 1px solid #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
            transition: background-color 0.3s ease-in-out,
            color 0.3s ease-in-out;

            @include hover {
                background-color: #fff;
                color: #292929;
            }

            &:active {
                background-color: #fff;
                color: #292929;
            }
        }

        & .btn-trapezium {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -16%;
                z-index: -1;
                width: 50%;
                transform: skew(-45deg);
            }
        }

        &__btn-catalog {
            @include mobile {
                font-size: 14px;
            }

            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;

        }

        & .btn-trapezium {

            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

            &_size {
                @include mobile {
                    padding-right: 14px;
                }

                padding-right: 18px;
            }

            &_color {
                background-color: #fff;
                color: #292929;

                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

                @include hover {
                    background-color: #000;
                    color: #fff;

                    &::before {
                        background-color: #000;
                    }
                }

                &:active {
                    background-color: #000;
                    color: #fff;

                    &::before {
                        background-color: #000;
                    }
                }

            }

            &::before {
                @include mobile {
                    margin-left: 0;
                }
                margin-left: 2%;
                background-color: #fff;
                transition: background-color 0.3s ease-in-out;
            }
        }
    }
}

.swiper-wrapper {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.place {
    @include mobile {
        padding-bottom: 15px;
    }

    display: flex;
    align-items: center;

    padding-bottom: 45px;

    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #BBBBBB;

        &:first-child::before {
            display: inline-block;
            margin-right: 15px;
            content: "";
            width: 5px;
            height: 5px;
            background-color: #fff;
            margin-bottom: 2px;
        }

        &:not(:last-child)::after {
            margin: 0 3px;
            content: ">";
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: #BBBBBB;
        }
    }
}