<section class="about-section">
    <div class="container">
        <div class="about-section__slider">
            <div class="btns-block">
                <button class="btn-reset thumb-btn btn-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-left"></use>
                    </svg>
                </button>
                <button class="btn-reset thumb-btn btn-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-wrapper">
                <div class="slide swiper-slide slide_1">
                    <h2 class="slide__title">FIXPISTOLS — Direct Fastening System</h2>
                    <div class="slide__content">
                        <div class="video-block">
                            <button class="btn-reset btn-play">
                                <svg>
                                    <use xlink:href="img/sprite.svg#play"></use>
                                </svg>
                            </button>
                            <video src="about-1.mp4" class="video-block__video" preload="metadata"
                                poster="../img/about-poster-1.jpg"></video>
                        </div>
                        <article class="info">
                            <p class="info__descr">
                                The FIXPISTOLS | Direct Fastening System is a method of fastening by special nails or
                                studs to steel, concrete or brick work with a fastening tool (nailer). This promising
                                method replaces the traditional drilling method in many areas of construction.
                            </p>
                            <p class="info__descr info__descr_mob">
                                This promising method replaces the traditional drilling method in many areas of
                                construction.
                            </p>
                            <button class="btn-reset slide__btn-details btn-trapezium 
                            btn-trapezium_size btn-trapezium_color">detailed</button>
                        </article>
                    </div>
                </div>
                <div class="slide slide_2 swiper-slide">
                    <h2 class="slide__title slide_2__title">FIXPISTOLS — Direct Fastening System</h2>
                    <div class="slide__content">
                        <ul class="list-reset info__list">
                            <li class="info__item">FIXPISTOLS | DIRECT FASTENING SYSTEM</li>
                            <li class="info__item info__item_subsection">1. Laboratory and advancement</li>
                            <li class="info__item">1.1 Testing</li>
                            <li class="info__item">1.2 Implementation</li>
                            <li class="info__item">1.3 Certification</li>
                            <li class="info__item">1.4 Training</li>
                            <li class="info__item info__item_subsection">
                                2. FIXA production, in-house and contracted
                            </li>
                            <li class="info__item">2.1 Powder-Actuated, Gas and Battery tools</li>
                            <li class="info__item">2.2 A wide range of fasteners for different applications</li>
                            <li class="info__item info__item_subsection">3. Distribution</li>
                            <li class="info__item">3.1 Partner network</li>
                            <li class="info__item">3.2 Direct sales</li>
                            <li class="info__item">3.3 Online store</li>
                            <li class="info__item">3.4 Technologies for Reteil</li>
                            <li class="info__item info__item_subsection">4. Service</li>
                            <li class="info__item">4.1 Service centers network</li>
                            <li class="info__item">4.2 Mobile service with visits of construction sites.</li>
                        </ul>
                        <p class="info__descr info__descr_mob">
                            1. Laboratory and advancement: 1.1 Testing;
                            1.2 Implementation; 1.3 Certification ...
                        </p>
                        <button class="btn-reset slide__btn-details btn-trapezium 
                            btn-trapezium_size btn-trapezium_color">detailed</button>
                        <div class="video-block">
                            <button class="btn-reset btn-play">
                                <svg>
                                    <use xlink:href="img/sprite.svg#play"></use>
                                </svg>
                            </button>
                            <video src="about-2.mp4" class="video-block__video" preload="metadata"
                                poster="../img/about-poster-2.jpg"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-descr">
            <p>
                Power sources:
            </p>
            <ul class="list-reset">
                <li>- Cartridge in the Powder-Actuated Technology</li>
                <li>- Fuel cell in the Gas Technology</li>
                <li>- Battery charge in the Battery Technology.</li>
            </ul>
            <p>
                During the shot, the base material is deformed and compacted without fracture.
            </p>
            <p>
                Advantages of Direct Fastening System:
            </p>
            <ul class="list-reset">
                <li>- Very high speed of performance (up to twenty times higher)</li>
                <li>- The cost of Direct Fastening is similar to the traditional technology (to drilling)</li>
                <li>- Easy in use</li>
                <li>- Weatherproof</li>
                <li>- Autonomous operation without power supply</li>
                <li>- No dust, low noise level</li>
                <li>- Work in hard-to-reach areas.</li>
            </ul>
            <p>
                The system components (fastening element, fastening tool and power source) form an installation system
                with its own specific characteristics.
            </p>
            <p>
                The FIXPISTOLS DIRECT FASTENING SYSTEM is divided into POWDER-ACTUATED, GAS AND BATTERY TECHNOLOGIES
                according to the type of energy source used to generate the force transmitted to the fastening element.
            </p>
            <p>
                The choice of technology and elements for reliable fastening depends on the assessment of the conditions
                to which the fastener is exposed, as well as on a correct calculation of the load-bearing capacity of
                the fastening element.
            </p>
            <p>
                Necessary conditions for a predictable performance of the fastener:
            </p>
            <ul class="list-reset">
                <li>- The fastening system must be designed for the specific application and tested accordingly</li>
                <li>- The quality of the components of the fastening system used must match the quality of the
                    originally
                    tested components</li>
                <li>- Fastenings must be made in the manner specified in the system technology or in the same manner as
                    when
                    the system was tested</li>
                <li>- Minimum number of fastening points for critical mountings: at least 5.</li>
            </ul>
        </div>
        <div class="modal-descr">
            <ul class="list-reset info__list">
                <li class="info__item info__item_subsection">1. Laboratory and advancement</li>
                <li class="info__item">1.1 Testing</li>
                <li class="info__item">1.2 Implementation</li>
                <li class="info__item">1.3 Certification</li>
                <li class="info__item">1.4 Training</li>
                <li class="info__item info__item_subsection">
                    2. FIXA production, in-house and contracted
                </li>
                <li class="info__item">2.1 Powder-Actuated, Gas and Battery tools</li>
                <li class="info__item">2.2 A wide range of fasteners for different applications</li>
                <li class="info__item info__item_subsection">3. Distribution</li>
                <li class="info__item">3.1 Partner network</li>
                <li class="info__item">3.2 Direct sales</li>
                <li class="info__item">3.3 Online store</li>
                <li class="info__item">3.4 Technologies for Reteil</li>
                <li class="info__item info__item_subsection">4. Service</li>
                <li class="info__item">4.1 Service centers network</li>
                <li class="info__item">4.2 Mobile service with visits of construction sites.</li>
            </ul>
        </div>
    </div>
</section>