<section class="category">
    <ul class="list-reset category__list">
        <li class="category__item">
            <a href="#">
                <h5 class="category__title">Пороховая технология</h5>
                <img class="category__preview" width="220" height="58" src="../img/category-1.jpg"
                    srcset="../img/category-1_2x.jpg 2x" alt="Пороховая технология">
            </a>
        </li>
        <li class="category__item">
            <a href="#">
                <h5 class="category__title">Газовая технология</h5>
                <img class="category__preview" width="220" height="58" src="../img/category-2.jpg"
                    srcset="../img/category-2_2x.jpg 2x" alt="Газовая технология">
            </a>
        </li>
        <li class="category__item">
            <a href="#">
                <h5 class="category__title">Техлоглогия укрепления утепления</h5>
                <img class="category__preview" width="220" height="58" src="../img/category-1.jpg"
                    srcset="../img/category-1_2x.jpg 2x" alt="Техлоглогия укрепления утепления">
            </a>
        </li>
        <li class="category__item">
            <a href="#">
                <h5 class="category__title">Ленточные шруповерты</h5>
                <img class="category__preview" width="220" height="58" src="../img/category-3.jpg"
                    srcset="../img/category-3_2x.jpg 2x" alt="Ленточные шруповерты">
            </a>
        </li>
        <li class="category__item">
            <a href="#">
                <h5 class="category__title">Гвозди для Hilti и Dewalt</h5>
                <img class="category__preview" width="220" height="58" src="../img/category-4.jpg"
                    srcset="../img/category-4_2x.jpg 2x" alt="Гвозди для Hilti и Dewalt">
            </a>
        </li>
        <li class="category__item">
            <a href="#">
                <h5 class="category__title">Гвозди по дереву</h5>
                <img class="category__preview" width="174" height="70" src="../img/category-5.jpg"
                    srcset="../img/category-5_2x.jpg 2x" alt="Гвозди по дереву">
            </a>
        </li>
    </ul>
</section>