<section class="category">
    <ul class="list-reset category__list">
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">GUNPOWDER TECHNOLOGY</h5>
                <img class="category__preview" width="86" height="62" src="../img/category-1.svg"
                    alt="Пороховая технология">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">GAS TECHNOLOGY</h5>
                <img class="category__preview" width="70" height="60" src="../img/category-2.svg"
                    alt="Газовая технология">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">BRACING INSULATION</h5>
                <img class="category__preview" width="81" height="61" src="../img/category-3.svg"
                    alt="Техлоглогия укрепления утепления">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">RIBBOM SCREWDRIVER</h5>
                <img class="category__preview" width="70" height="62" src="../img/category-4.svg"
                    alt="Ленточные шруповерты">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">NAILS for HILTI & DEWALT</h5>
                <img class="category__preview" width="63" height="63" src="../img/category-5.svg"
                    alt="Гвозди для Hilti и Dewalt">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">NAILS on WOOD</h5>
                <img class="category__preview" width="62" height="62" src="../img/category-6.svg"
                    alt="Гвозди по дереву">
            </a>
        </li>
    </ul>
</section>