<section class="category">
    <ul class="list-reset category__list">
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">Powder actuated technology</h5>
                <img class="category__preview" width="86" height="62" loading="lazy" src="../img/category-1.png"
                    alt="Пороховая технология">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">Gas and Battery Technologies</h5>
                <img class="category__preview" width="70" height="60" loading="lazy" src="../img/category-2.png"
                    alt="Газовая технология">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">Insulation fixings</h5>
                <img class="category__preview" width="81" height="61" loading="lazy" src="../img/category-3.png"
                    alt="Техлоглогия укрепления утепления">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">Collated screws & tools</h5>
                <img class="category__preview" width="70" height="62" loading="lazy" src="../img/category-4.png"
                    alt="Ленточные шруповерты">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">Nails for Hilti & DeWalt tools</h5>
                <img class="category__preview" width="63" height="63" loading="lazy" src="../img/category-5.png"
                    alt="Гвозди для Hilti и Dewalt">
            </a>
        </li>
        <li class="category__item">
            <a class="category__content" href="#">
                <h5 class="category__title">Wood nailing</h5>
                <img class="category__preview" width="62" height="62" loading="lazy" src="../img/category-6.png"
                    alt="Гвозди по дереву">
            </a>
        </li>
    </ul>
</section>