<footer class="footer">
  <div class="footer-top">
    <div class="footer__container footer__container_top">
      <div class="service">
        <span class="service__title">Catalog</span>
        <ul class="list-reset service__list">
          <li class="service__item">Gunpowder technology</li>
          <li class="service__item">Gas technology</li>
          <li class="service__item">Bracing insulation</li>
          <li class="service__item">Ribbom screwdriver</li>
          <li class="service__item">Nails for HILTI & DEWALT</li>
          <li class="service__item">Nails on wood</li>
          <li class="service__item">Spare parts</li>
          <li class="service__item">Service</li>
        </ul>
      </div>
      <div class="catalogs">
        <div class="service">
          <span class="service__title">Catalog</span>
          <ul class="list-reset service__list">
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
          </ul>
        </div>
        <div class="service">
          <span class="service__title">Catalog</span>
          <ul class="list-reset service__list">
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
          </ul>
        </div>
        <div class="service">
          <span class="service__title">Catalog</span>
          <ul class="list-reset service__list">
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
          </ul>
        </div>
        <div class="service">
          <span class="service__title">Catalog</span>
          <ul class="list-reset service__list">
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
            <li class="service__item">List of products</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer__container">
      <p class="footer-bottom__info">2023 — https://fixpistols.com.tr/</p>
      <p class="footer-bottom__info"><span>Privacy policy</span></p>
    </div>
  </div>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</footer>