<header class="header">
  <div class="header-top">
    <div class="header-top__container">
      <div class="language">
        <span class="language__title">Select a language</span>
        <button class="btn-reset language__btn-choose-lang">
          English
          <svg>
            <use xlink:href="img/sprite.svg#down-arrow"></use>
          </svg>
        </button>
      </div>
      <form action="#" class="search">
        <input class="search__input" type="text" placeholder="To find">
        <button class="btn-reset btn-trapezium btn-trapezium_size btn-trapezium_color">
          <div class=" btn-reset btn-trapezium__content">
            <svg>
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
            <span>search</span>
          </div>
        </button>
      </form>
      <div class="contacts">
          <a href="info@mil-tools.ru" class="contacts__mail">sales@fixpistols.com.tr</a>
          <div class="contacts__phone">
            <a href="tel:+902124585008" class="contacts__number">+90 (552) 493 68 14</a>
            <span class="contacts__call">Order a call</span>
          </div>
      </div>
      <button class="btn-reset header-top__profile-btn">
        <svg>
          <use xlink:href="img/sprite.svg#person"></use>
        </svg>
        <span>profile</span>
      </button>
    </div>
  </div>
  <div class="header-bottom">
    <img class="logo lazyload" src="../img/logo.svg" alt="logo" >
    <img class="logo logo_mob lazyload" src="../img/logo-mob.svg" alt="logo" >
    <button class="btn-reset burger"></button>
    <nav class="nav" title="main navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Catalog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Stock</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Article</a></li>
        <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Service</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>
    <button class="btn-reset favorite-btn">
      <span class="favorite-btn__text">Favorites</span>
      <svg>
        <use xlink:href="img/sprite.svg#heart"></use>
      </svg>
    </button>
    <button class="btn-reset btn-trapezium btn-trapezium_size btn-trapezium_color">
      <div class=" btn-reset btn-trapezium__content">
        <svg>
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <span>cart</span>
      </div>
    </button>
  </div>
</header>