<header class="header">
  <div class="header-top">
    <div class="header-top__container">
      <div class="location">
        <span class="location__title">Выберите город</span>
        <button class="btn-reset location__btn-choose-city">Санкт-Петербург</button>
      </div>
      <form action="#" class="search">
        <input class="search__input" type="text" placeholder="Поиск">
        <button class="btn-reset btn-trapezium btn-trapezium_size btn-trapezium_color">
          <div class=" btn-reset btn-trapezium__content">
            <svg>
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
            <span>найти</span>
          </div>
        </button>
      </form>
      <div class="contacts">
          <a href="info@mil-tools.ru" class="contacts__mail">info@mil-tools.ru</a>
          <div class="contacts__phone">
            <a href="tel:+74957477888" class="contacts__number">+7 (495) 747-78-88</a>
            <span class="contacts__call">Заказать звонок</span>
          </div>
      </div>
      <button class="btn-reset header-top__profile-btn">
        <svg>
          <use xlink:href="img/sprite.svg#person"></use>
        </svg>
        <span>профиль</span>
      </button>
    </div>
  </div>
  <div class="header-bottom">
    <nav class="nav" title="main navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Статья</a></li>
        <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Сервис</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <button class="btn-reset favorite-btn">
      <svg>
        <use xlink:href="img/sprite.svg#heart"></use>
      </svg>
    </button>
    <button class="btn-reset btn-trapezium btn-trapezium_size btn-trapezium_color">
      <div class=" btn-reset btn-trapezium__content">
        <svg>
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <span>корзина</span>
      </div>
    </button>
  </div>
</header>