<section class="hero">
    <div class="container">
        <div class="hero__slider">
            <div class="btns-block">
                <button class="btn-reset thumb-btn btn-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-left"></use>
                    </svg>
                </button>
                <button class="btn-reset thumb-btn btn-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-wrapper">
                <div class="slide swiper-slide">
                    <div class="slide__content">
                        <ul class="list-reset place">
                            <li class="place__item">Main</li>
                            <li class="place__item">Services</li>
                            <li class="place__item">Sandblasting</li>
                        </ul>
                        <h2 class="slide__title">
                            6 types of fasteners for various applications
                        </h2>
                        <div class="slide__btns">
                            <button class="btn-reset slide__btn-more">detailed</button>
                            <button class="btn-reset slide__btn-catalog btn-trapezium 
                                            btn-trapezium_size btn-trapezium_color">
                                go to the catalog
                            </button>
                        </div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="slide__content">
                        <ul class="list-reset place">
                            <li class="place__item">Main</li>
                            <li class="place__item">Services</li>
                            <li class="place__item">Sandblasting</li>
                        </ul>
                        <h2 class="slide__title">
                            6 types of fasteners for various applications
                        </h2>
                        <div class="slide__btns">
                            <button class="btn-reset slide__btn-more">detailed</button>
                            <button class="btn-reset slide__btn-catalog btn-trapezium 
                                            btn-trapezium_size btn-trapezium_color">
                                go to the catalog
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>