<section class="hero">
    <div class="container">
        <div class="hero__slider">
            <div class="btns-block">
                <button class="btn-reset thumb-btn btn-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-left"></use>
                    </svg>
                </button>
                <button class="btn-reset thumb-btn btn-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-wrapper">
                <div class="slide slide_1 swiper-slide">
                    <div class="slide__content">
                        <div class="slide__btns">
                            <button class="btn-reset slide__btn-more">detailed</button>
                            <button class="btn-reset slide__btn-catalog btn-trapezium 
                                            btn-trapezium_size btn-trapezium_color">
                                <a href="catalog.pdf" target="_blank">
                                    go to the catalog
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="slide slide_2 swiper-slide">
                    <div class="slide__content">
                        <div class="slide__btns">
                            <button class="btn-reset slide__btn-more">detailed</button>
                            <button class="btn-reset slide__btn-catalog btn-trapezium 
                                            btn-trapezium_size btn-trapezium_color">
                                <a href="catalog.pdf" target="_blank">
                                    go to the catalog
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="slide slide_3 swiper-slide">
                    <div class="slide__content">
                        <div class="slide__btns">
                            <button class="btn-reset slide__btn-more">detailed</button>
                            <button class="btn-reset slide__btn-catalog btn-trapezium 
                                            btn-trapezium_size btn-trapezium_color">
                                <a href="catalog.pdf" target="_blank">
                                    go to the catalog
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-reset place">
            <li class="place__item">Main</li>
            <li class="place__item">Services</li>
            <li class="place__item">Sandblasting</li>
        </ul>
    </div>
</section>