<section class="hits-section">
        <h2 class="hits-section__title">Sales hits</h2>
        <div class="hits-section__slider">
            <div class="btns-block">
                <button class="btn-reset thumb-btn btn-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-left"></use>
                    </svg>
                </button>
                <button class="btn-reset thumb-btn btn-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#thumb-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-wrapper">
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slide swiper-slide">
                    <ul class="list-reset product-list">
                        <li class="product-list__item">
                            <div class="product-list__preview">
                                <img src="../img/product.jpg" alt="hit">
                                <button class="btn-reset favorite-btn">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <h5 class="product-list__title">LUKOIL 236 Genesis Armor tech engine oil, 5w-40</h5>
                            <p class="product-list__descr">
                                It is a long established fact that a reader will be
                                distracted by the 
                            </p>
                            <div class="price">
                               <span class="price__current">2880 ₺</span> 
                               <s class="price__prev">3850</s>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>