:root {
  --font-family: "TTMussels", sans-serif;
  --content-width: 1090px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --offset: 30px;

  --content-width-mobile: 336;
  --container-offset-mobile: 12px;
  --container-width-mobile: calc(var(--content-width-mobile) + (var(--container-offset-mobile) * 2));
  --offset-mobile: 30px;

  --light-color: #fff;
  --dark-color: #1D0808;
}
